<%= form_with(model: @search, method: :post, data: { target_url: search_analytics_searches_path, submit_target: 'form', controller: 'analytics', action: 'keyup->analytics#suggest' }) do |form| %>
  <div class="relative mb-6 flex items-center">
    <div class="flex-grow">
      <%= form.label :query, "Search Query", class: "block mb-2 text-sm font-medium text-gray-700" %>
      <%= form.text_field :query, id: "input_bar", class: "w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition", placeholder: "Type your search...", data: { analytics_target: "input" } %>
    </div>
    <%= form.submit "Search", class: "btn btn-primary bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md shadow-md transition ml-2" %>
  </div>
  <div id="analytics_results" data-analytics-target="suggestions" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 hidden">
    <%= render 'analytics' %>
  </div>

  <%= form.hidden_field :user_ip, value: @search.user_ip %>
<% end %>